$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
*:focus {
    outline: 0;
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    overflow-x: hidden;
    background: #ffd5c0;
    min-width: 350px!important;
}

[class^="col-"],
[class*=" col-"] {
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15,
.col-md-25,
.col-md-35, {
    position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}

.col-xs-25 {
    width: 40%;
    float: left;
}

.col-md-35 {
    width: 60%;
    float: left;
}


h1 {
    font-weight: 800;
    margin: 1.3em 0;
    &.tagline {
      max-width: 600px;
      margin: 0 auto;
      padding-bottom: 1.5em;
    }
}

h3 {
    font-weight: 700;
    margin: 1.3em 0;
}

h2 {
    font-weight: 700;
    margin: 1em 0;
}

h4 {
    font-weight: 700;
}

h5 {
    font-size: 1.1em;
    line-height: 1.5em;
}

p {
    font-size: 12px;
}

a {
  color:inherit;
  &:hover, &:focus, &:active,  {
    color:inherit;
  }
}

.primarycontent {
    padding-top: 110px;
}

.logo {
  padding-left: 10px;
  padding-right: 10px;
    img {
        height: 90px;
        cursor: pointer;
    }
}

.h-bg-darker {
    background: rgba(0, 0, 0, 0.05);
}

.h-margin-v-sm {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.h-margin-h-neg10 {
  margin-left: -10px!important;
  margin-right: -10px!important;
}



.h-margin-v-md {
    margin-top: 4em;
    margin-bottom: 4em;
}

.h-padding-v-sm {
    padding-top: 3em;
    padding-bottom: 3em;
}


.h-padding-v-md {
    padding-top: 7em;
    padding-bottom: 7em;
}

.h-padding-v-lg {
    padding-top: 14em;
    padding-bottom: 14em;
}

.h-padding-v-5px {
    padding-top: 5px;
    padding-bottom: 5px;
}

.h-padding-h-5px {
    padding-left: 5px;
    padding-right: 5px;
}

.h-padding-v-10px {
    padding-top: 10px;
    padding-bottom: 10px;
}

.h-padding-v-15px {
    padding-top: 15px;
    padding-bottom: 15px;
}

.h-padding-h-0 {
    padding-left: 0;
    padding-right: 0;
}

.h-padding-h-sm {
    padding-left: 2em;
    padding-right: 2em;
}

.h-padding-h-md {
    padding-left: 4em;
    padding-right: 4em;
}

.h-margin-v-10px {
    margin-top: 10px;
    margin-bottom: 10px;
}

.h-lowercase {
    text-transform: lowercase!important;
}

.h-max-width {
    max-width: 600px;
    margin: 0 auto;
}

.h-margin-bottom-m {
  margin-bottom:100px;
}

// .h-bg-1 {
//   background: #ffd5c0;
// }

// .h-bg-2 {
//   background: #ffebeb;
// }

// .h-bg-3 {
//   background: #fff9d9;
// }

// .h-bg-4 {
//   background: #e3ffe5;
// }

.header {
    position: fixed;
    background-repeat:no-repeat;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    // &.shadow {
    //   -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.05);
    //   -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.05);
    //   box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.05);
    // }
}

.lightboxOverlay {
  opacity: 0.9;
}

.lb-outerContainer, .lightbox .lb-image {
  border-radius: 0!important;
}

.lb-outerContainer {
  background-color: black;
  position: fixed;
  top: 50%;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateY(-50%);
}

.lb-close {
    position: fixed;
    top: 22px;
    right: 11px;
    width: 40px;
    height: 40px;
    background: url(../images/close.png) top right no-repeat!important;
    background-size: cover!important;
}


.lb-next {
  background: url(../images/angle-right.png) right 48% no-repeat!important;
  // width: 100px!important;
  // transform: scale(0.5);
  // -moz-transform: scale(0.5);
  // -webkit-transform: scale(0.5);
  // -ms-transform: scale(0.5);
  // -o-transform: scale(0.5);
  // position: fixed;
  // top: 30px;
  // bottom: 30px;
  // right: -100px!important;
  // width: 90px;
  // opacity: 1!important;
}

.lb-prev {
  background: url(../images/angle-left.png) left 48% no-repeat!important;
  // width: 100px!important;
  // transform: scale(0.5);
  // -moz-transform: scale(0.5);
  // -webkit-transform: scale(0.5);
  // -ms-transform: scale(0.5);
  // -o-transform: scale(0.5);
  // position: fixed;
  // left: -100px!important;
  // top: 30px;
  // bottom: 30px;
  // width: 90px;
  // opacity: 1!important;
}

.shared-bg {
  background: #ffd5c0; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ffd5c0, #ffebeb, #fff9d9, #e3ffe5); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#ffd5c0, #ffebeb, #fff9d9, #e3ffe5); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#ffd5c0, #ffebeb, #fff9d9, #e3ffe5); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#ffd5c0, #ffebeb, #fff9d9, #e3ffe5); /* Standard syntax */
}

.h-bg-1 {
  background: #e3ffe5;
}

.h-bg-2 {
  background: #ffebeb;
}

.h-bg-3 {
  background: #fff9d9;
}

.h-bg-4 {
  background: #ffd5c0;
}

.h-bg-1-aux {
  background: #e3ffe5;
}

.h-bg-2-aux {
  background: #ffebeb;
}

.h-bg-3-aux {
  background: #fff9d9;
}

.h-bg-4-aux {
  background: #ffd5c0;
}

.project-images {
  a {
    outline: none;
    img {
      cursor: zoom-in;
    }
  }
}
.wwd-aux-1 {
  display: block;
}
.wwd-aux-2 {
  display: none;
}


.work-grid-1, .cp-grid-1, .team-grid-1 {
  display: block;
}
.work-grid-2, .cp-grid-2, .team-grid-2 {
  display: none;
}


.work-grid {
  .work-item {
    .zk-block {
      text-align:center;
      h4 {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .work-item-1 {
      display: block;
    }
    .work-item-2 {
      display: none;
      background: rgba(0, 0, 0, 0.05);
    }
    &:hover {
      .work-item-1 {
        display: none;
      }
      .work-item-2 {
        display: block;
      }
    }
  }
}

.mfp-close {
      font-size:0;
      display: inline-block;
      margin-top: 7px!important;
      width: 25px!important;
      height: 25px!important;
      overflow: hidden!important;
    &:before {
      transform: rotate(45deg);
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: #fff;
  }
  &:after {
      transform: rotate(-45deg);
      content: '';
      position: absolute;
      height: 2px;
      width: 100%;
      top: 50%;
      left: 0;
      margin-top: -1px;
      background: #fff;
  }
}

.mfp-arrow{
  &:before {
    margin-top: 0;
    margin-left: 0;
    border-style: solid;
    border-width: 0.17em 0.17em 0 0;
    content: '';
    display: inline-block;
    height: 2.45em;
    left: 0.15em;
    border-color: white;
    color: white;
    position: relative;
    top: 0.15em;
    vertical-align: top;
    width: 2.45em;

  }
  &:after {
    border: none;
  }
}

.mfp-arrow-left {
    // margin-top: -35px;
    transform: rotate(-135deg);
  }
.mfp-arrow-right {
    transform: rotate(45deg);
    // margin-top: -74px;
  }

.chevron.right {
  &:before {
    left: 0;
    transform: rotate(45deg);
  }
}

.chevron.left {
  &:before {
    left: 0.25em;
    transform: rotate(-135deg);
  }
}


#primarycontent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}



.footer {
    position: fixed;
    background-repeat:no-repeat;
    background-position:top;
    z-index: 1000;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top:10px;
    // &.shadow {
    //   -webkit-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.05);
    //   -moz-box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.05);
    //   box-shadow: 0px -2px 5px 0px rgba(0,0,0,0.05);
    // }
    .nav {
        ul {
          margin-bottom: 7px;
            &.text-left {
                text-align: left!important;
            }
            &.text-right {
                text-align: right!important;
            }
            padding: 0;
            li {
                cursor: pointer;
                padding: 0.1em 1.2em;
                margin: 0 -6px;
            }
        }
    }
}

@mixin aspect-ratio($width, $height) {
    position: relative;
    &:before{
        display: block;
        content: " ";
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.landscape {
  @include aspect-ratio(16,9);
}

.landscape-fix {
  @include aspect-ratio(16,8.8);
}


.portrait {
  @include aspect-ratio(3,3.455);
}

.box {
  @include aspect-ratio(1,1);
}



.square {
    width: 100%!important;
    cursor:pointer;
    &:hover {
        &.h-no-bg {
          background: none!important;
        }
        background: white;
    }
}

.square:before {
    content: "";
    float: left;
    padding-bottom: 100%;
}

.square:after {
    content: "";
    display: table;
    clear: both;
}

.confettiAux {
  z-index: 10;
  width: 9px;
  height: 12px;
  background: #ffe1d7;
  top: 15px;
  position: absolute;
  left: -2px;
}


#confettiSVG {
  position: absolute;
  top: 15px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#contact {
  h5 {
    margin: 0;
  }
  p {
    margin: 25px 0;
  }
  a {
    &:hover {
      text-decoration: none;
      p {
        text-decoration: underline;
      }
    }
  }

  .social-item {
    icon {
      width: 15px;
    }
    icon, p {
      display:inline-block;
    }
    p {
      margin:0;
      font-weight: bold;
    }
  }
}

.section-header {
  text-align: center;
  h3 {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    background: rgba(0, 0, 0, 0.05);
    margin: 0;
  }
}

.featherlight-content {
  padding: 0!important;
  margin: 0;
  max-height: 100%;
  border: 0!important;
  .col-md-12 {
    padding: 0;
  }
}

.featherlight-close-icon {
  font-size: 2em;
  line-height: 45px!important;
  width: 45px!important;
}

#breadVSbakery {
  .col-md-6 {
    padding: 6em 7em;
  }
  display:none;
  // min-width: 900px;
  text-align:center;
  svg {
    height: 180px;
  }
  h5 {
    min-height: 100px;
    max-width: 300px;
    margin: 30px auto;
    font-size: 1.1em;
    line-height: 1.3em;
  }
}

.h-relative {
  position: relative;
}

.bk-block {
    position: relative;
    padding: 18px 20px 20px 50px;
    h4 {
        text-transform: uppercase;
        position: absolute;
        top: 11px;
        right: calc(100% - 16px);
        white-space: nowrap;
        -webkit-transform: rotate(270deg);
        -webkit-transform-origin: right top;
        -moz-transform: rotate(270deg);
        -moz-transform-origin: right top;
        -ms-transform: rotate(270deg);
        -ms-transform-origin: right top;
        -o-transform: rotate(270deg);
        -o-transform-origin: right top;
        transform: rotate(270deg);
        transform-origin: right top;
    }
    p {
      font-size: 13px;
    }
}

.slider-arrow {
  position: absolute;
  cursor: pointer;
  top: 0;
  height: 100%;
  // width: 130px;
  width: 20%;
  z-index: 10;
  &:hover {
    icon {
      color: rgba(255,255,255,1);
    }
  }
  icon {
    position: absolute;
    top: calc(50% - 100px);
    z-index: 10;
    color: rgba(255,255,255,0.6);
  }
  &-left {
    left: 0;
    icon {
      left: 17px;
    }
  }
  &-right {
    right: 0;
    icon {
      right: 17px;
    }
  }
}

.slick-slider {
  margin-bottom: 0;
}

// .slick-list {
//   padding: 0 140px!important;
// }

.slick-dots {
  bottom: 10px!important;
  li {
    margin: 0!important;
    button {
      &:before {
        font-size: 13px!important;
        color: white!important;
      }
    }
  }
}

.featherlight:last-of-type {
  background: rgba(0,0,0,.2);
}

#creative-partners {
  a {
    text-decoration:none;
    &:hover {
      text-decoration:none;
    }
  }
  .bk-block {
    p {
      font-size: 11px;
    }
  }
}

.wwd-left {
  // padding-left: 0;
  // padding-right: 0;
  .wwd-left-design {
    min-height: 649px;
  }
  h3 {
    margin: 1em;
  }
  h5 {
      font-size: 1em;
      line-height: 1.45em;
  }
  h4 {
      font-size: 1.3em;
      margin-top: 2em;
      line-height: 1.3em;
  }
  ul {
    padding: 10px;
    font-size: 1em;
  }
  li {
    list-style: none;
  }
  .wwd-left-default {
      min-height: 649px;
      // height: 433px;
  }
}
.wwd-left-details {

}

.h-vertical {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
}

.mini-slider {
  width: 100%;
  div {
    background-size: cover;
    background-repeat: no-repeat;
    height: 649px;
  }
}

.featured-project {
  background-size: cover;
  background-image: url(../images/hov2.png);
  background-position: center center;
  min-height: 700px;
  margin: 0;
  text-shadow: 2px 2px rgba(0,0,0,0.6);
  .aux {
    padding-top: 230px;
  }
  h2 {
    font-size: 2.8em;
    margin-bottom: 0.6em;
  }
  h4 {
    line-height: 1.4em;
    margin-bottom: 30px;
  }
  h2, h4 {
    color: #fff;
  }
}

.c-partner {
  width: 100%;
  margin-top: 10px;
  background-size: cover!important;
}

.project-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 110px;
  .project-inner {
    .featured-image {
      min-height: 500px;
      width: 100%;
      margin-top: 0;
      background-size: cover;
      background-position: center bottom;
      background-repeat: no-repeat;
      position: relative;
      .featured-gradient {
        position: absolute;
        z-index: 100;
        left: 0;
        right: 0;
        bottom: 0;
        padding-top: 145px;
      }
    }
    .project-copy {
      margin-top: -30px;
      z-index: 100;
      position: relative;
      margin-bottom: 40px;
      h1 {
        text-transform: uppercase;
        margin-top: 0;
      }
    }
    ul { /* --- DYNAMIC IMAGE GALLERY --*/
      margin-left: 10px !important;
      margin-right: 10px!important;
      padding-left: 5px;
    }
  }
}


.btn {
  color: #000;
  text-transform: uppercase;
  border-radius: 0px;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 8px 20px;
  font-size:0.9em;
  cursor: pointer;
  background: #ffebe9;
  &:focus, &:active {
    outline: none!important;
  }
  &-1 {
    color: #ffd5c0;
    background: black;
    &:hover, &:active, &:focus {
      color: black;
      background: rgba(0,0,0,0.1);
    }
  }

  &-2 {
    color: #ffebeb;
    background: black;
    &:hover, &:active, &:focus {
      color: black;
      background: rgba(0,0,0,0.1);
    }
  }

  &-3 {
    color: #fff9d9;
    background: black;
    &:hover, &:active, &:focus {
      color: black;
      background: rgba(0,0,0,0.1);
    }
  }
  &-4 {
    color: #e3ffe5;
    background: black;
    &:hover, &:active, &:focus {
      color: black;
      background: rgba(0,0,0,0.1);
    }
  }
  &-w-1 {
    color: black;
    background: #ffd5c0;
    &:hover, &:active, &:focus {
      color: #ffd5c0;
      background: black;
    }
  }

  &-w-2 {
    color: black;
    background: #ffebeb;
    &:hover, &:active, &:focus {
      color: #ffebeb;
      background: black;
    }
  }

  &-w-3 {
    color: black;
    background: #fff9d9;
    &:hover, &:active, &:focus {
      color: #fff9d9;
      background: black;
    }
  }

  &-w-4 {
    color: black;
    background: #e3ffe5;
    &:hover, &:active, &:focus {
      color: #e3ffe5;
      background: black;
    }
  }
}


.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}


.content-wrapper {
    // margin-top: 130px;
    // min-height: 600px;
}

.content-area {
    // margin-top: 113px;
}

#brands {
  margin-bottom: 2.2em;
  h2 {
    margin-top: 2em;
    margin-bottom: 0;
  }
  img {
    width: 80%;
    margin: 0 auto;
  }
}

.nav {
    ul {
        text-align: center;
        margin-bottom: 0;
        li {
            list-style: none;
            padding: 2.5em 1em .7em 1em;
            list-style-type: none;
            display: inline-block;
            text-transform: uppercase;
            font-weight: 700;
            a {
                outline: none;
                text-decoration: none;
                letter-spacing: 3px;
                color: inherit;
                padding-top:7px;
                cursor: pointer;
                font-size: 0.9em;
                &:before {
                  content: "";
                  position: absolute;
                  left: 25%;
                  top: 0;
                  height: 2px;
                  width: 0%;
                }
                &:hover, &.active {
                    position: relative;
                    &:before {
                      width: 50%;
                      border-bottom: 2px solid black;
                    }
                }
            }
        }
    }
}

.collaborators {
  p {
    margin-bottom: 2px;
  }
}

span.tip {

    /* Required */
    position: absolute;
    z-index: 2;
    display: none;

    /* Optional */
    font-size: 15px;
    max-width: 150px;
    height: auto;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 2px #666;
    background: #FD0;
}

.info-grid {
  .info-grid-item{
    display: block;
    .square {
      display: none;
    }
    img {
      display: block;
    }
    &:hover {
      cursor: pointer;
      .square {
        display: block;
      }
      img {
        display: none;
      }
    }
  }
}

#nav-icon {
    display:none;
}

mic-grid {
  position: relative;
}
.dynamic-grid.angular-grid {
  display: block;
  a {
    &.active {
      .img_overlay {
        height: 100%;
        // h3 {
        //   transform: scale(1.1);
        // }
      }
    }
    &:hover {
      .img_overlay {
        height: 100%;
        // h3 {
        //   transform: scale(1.1);
        // }
      }
      img {
      }
    }
    .img_overlay {
      position: absolute;
      background: rgba(0,0,0,0.8);
      height: 0%;
      overflow: hidden;
      bottom: 0;
      left: 0;
      right: 0;
      color: white;
      padding: 0 15px;
      text-align: center;
      transition: all .3s ease-in-out;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
      }
    }
    img {
    }
  }
}

.breadcrumbs {
  cursor: pointer;
  margin-top: -26px;
}


.grid {
  position: absolute;
  list-style: none;
  background: #ffffff;;
  box-sizing: border-box;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  overflow: hidden;
}
.grid.ng-leave {
  -webkit-transition: all ease 400ms;
  transition: all ease 400ms;
}
/*.grid.ng-leave.ng-leave-active {*/
/*  -webkit-transform: scale(0.5);*/
/*  transform: scale(0.5);*/
/*  opacity: 0;*/
/*}*/
/*.grid.ng-enter {*/
/*  -webkit-transition: all ease 400ms;*/
/*  transition: all ease 400ms;*/
/*  -webkit-transition-delay: 500ms;*/
/*  transition-delay: 500ms;*/
/*  -webkit-transform: scale(0.5);*/
/*   transform: scale(0.5);*/
/*  opacity: 0;*/
/*}*/
/*.grid.ng-enter.ng-enter-active {*/
/*  -webkit-transform: scale(1);*/
/*  transform: scale(1);*/
/*  opacity: 1;*/
/*}*/


.img-loading {
  width: 100%;
  // min-height: 200px;
  // background-image: url(../images/wave.png);
  background-position: 0px 0px;
  background-repeat: repeat;

  animation: animatedBackground 10s linear infinite;
  -moz-animation: animatedBackground 10s linear infinite;
  -webkit-animation: animatedBackground 10s linear infinite;
  -ms-animation: animatedBackground 10s linear infinite;
  -o-animation: animatedBackground 10s linear infinite;
}

.grid-img {
  width: 100%;
  vertical-align: middle;
  // background-color: #fff;
  opacity: 0;
  visibility: hidden;
}
.grid-img.img-loaded {
  visibility: visible;
  opacity: 1;
}

.wwd-back {
  position: absolute;
  top: 20px;
  left: 30px;
  cursor: pointer;
  font-size: 12px;
  icon {
    font-size: 14px;
  }
}



.owl-theme .owl-controls{
margin-top:10px;
text-align:center;
-webkit-tap-highlight-color:transparent
}

.owl-theme .owl-controls .owl-nav [class*=owl-]{
color:#fff;
font-size:14px;
margin:5px;
padding:4px 7px;
background:#d6d6d6;
display:inline-block;
cursor:pointer;
-webkit-border-radius:3px;
-moz-border-radius:3px;
border-radius:3px
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{
background:#869791;
color:#fff;
text-decoration:none
}

.owl-theme .owl-controls .owl-nav .disabled{
opacity:.5;
cursor:default
}

.owl-theme .owl-dots .owl-dot{
display:inline-block;
zoom:1;
*display:inline
}

.owl-theme .owl-dots .owl-dot span{
width:10px;
height:10px;
margin:5px 7px;
background:#d6d6d6;
display:block;
-webkit-backface-visibility:visible;
-webkit-transition:opacity 200ms ease;
-moz-transition:opacity 200ms ease;
-ms-transition:opacity 200ms ease;
-o-transition:opacity 200ms ease;
transition:opacity 200ms ease;
-webkit-border-radius:30px;
-moz-border-radius:30px;
border-radius:30px
}

.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{
background:#869791
}

::selection {
  background: rgba(0, 0, 0, 0.1);
}
::-moz-selection {
  background: rgba(0, 0, 0, 0.1);
}

#map {
    width: 100%;
    height: 400px;
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding-left: 10px; padding-right: 10px; }

.wwd-right {
  padding-left: 0;
}

.js-eff-wwd-img {
  cursor: pointer;
}

.work-mobile-1 {
  display: block;
}

.work-mobile-2 {
  display: none;
  margin: 10px 5px;
}



@media (min-width: 992px) {

  #bakery {
    display: block;
  }

  #mobile-menu {
    display: none!important;
  }

  .col-sm-15 {
      width: 20%;
      float: left;
  }
  .col-sm-25 {
      width: 40%;
      float: left;
  }
    .col-md-15 {
        width: 20%;
        float: left;
    }
    .col-md-25 {
        width: 40%;
        float: left;
    }
}

@media (min-width: 992px) and (max-width: 1200px) {

  .bk-block-aux {
    h4 {
      top: 4px;
      font-size: 1.1em;
    }
  }

}

@media (max-width: 1200px) {
  .bk-block {
    p {
      font-size: 10px;
    }
  }
  #creative-partners {
    .bk-block {
      padding: 10px 10px 10px 37px;
      h4 {
        right: calc(100% - 6px);
        top: 4px;
        &.size-aux {
          font-size: 1.2em;
        }
      }
      p {
        font-size: 10px;
        margin: 0;
        padding: 0;
      }
    }
  }
  .wwd-left {
    .wwd-left-default {
      min-height: 529px;
      padding-left: 3em;
      padding-right: 3em;
      padding-top: 10em;
      padding-bottom: 10em;
    }
  }



}

@media (min-width: 1200px) {

    .col-lg-15 {
        width: 20%;
        float: left;
    }
    .col-lg-25 {
        width: 40%;
        float: left;
    }
}

@media (max-width: 991px) {

  // .header {
  //   padding-bottom: 10px!important;
  // }
  //
  // .js-logo {
  //   height: 60px!important;
  // }
  //
  // .nav ul li {
  //   padding-top: 1.4em!important;
  // }

  #breadVSbakery {
    .col-md-6 {
      padding: 2em 2em;
    }
    text-align:center;
    svg {
      height: 110px;
    }
    h5 {
      min-height: inherit;
      max-width: none;
      margin: 30px auto;
      font-size: 1.1em;
      line-height: 1.3em;
    }
  }

    .team-grid {
      [class^="col-"],
      [class*=" col-"] {
          padding-right: 5px!important;
          padding-left: 5px!important;
      }
    }

    .header {
     padding-bottom: 10px!important;
   }

   .js-logo {
     height: 60px!important;
   }

   .nav ul li {
     padding-top: 1.4em!important;
   }

  .collaborators {
    p {
      margin-bottom: 5px!important;
    }
  }

  .mfp-arrow-left {
    left: 67px;
  }

  .project-wrapper {
    padding-top: 79px;
  }
  .work-mobile-1 {
    display: none!important;
  }

  .work-mobile-2 {
    display: block!important;
  }

  .wwd-back {
      padding-top: 30px;
      position: relative;
      left: 0;
  }

  .wwd-left-design {
    .h-center {
      position: relative;
      transform: none;
      left: 0;
      top: 0;
      margin-top: 60px;
    }
    height: auto!important;
    padding-bottom: 50px;
    margin-bottom: 10px;
  }

  #map {
    margin-bottom: 50px!important;
  }

  .h-center {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
  }

  .work-grid-1, .cp-grid-1, .team-grid-1 {
    display: none;
  }
  .work-grid-2, .cp-grid-2, .team-grid-2 {
    display: block;
  }


  .wwd-left {
    .wwd-left-default {
      min-height: 250px;
      padding-left: 2em;
      padding-right: 2em;
      padding-top: 4em;
      padding-bottom: 4em;
      margin-bottom: 10px;
    }
    h3 {
      max-width: 400px;
      margin: 10px auto;
    }
    h5 {
      max-width: 400px;
      margin: 0 auto;
    }
  }

  .bk-block p {
    font-size: 13px;
  }

  .square:before {
    content: "";
    float: left;
    // padding-bottom: 56.25%;
  }

  .wwd-right {
    width: 100%;
  }
  .footer {
      display: none;
  }

  #mobile-menu {
    display: none;
  }

  #desktop-menu, #footer, .text-left a, .text-right a {
    display: none;
  }

  #mobile-menu ul {
    margin: 0 auto;
    padding: 0;
    width:185px;
    list-style-type: none;
  }

  #mobile-menu li {
    list-style-type: none;
    margin: 0;
    padding: 0!important;
    position: relative;
      &:hover {
        text-decoration: none;
      }
      a {
        position: relative;
        &:hover, &.active {
            position: relative;
            &:before {
                      content: "";
                      position: absolute;
                      width: 5px;
                      height: 5px;
                      background: black;
                      border-radius: 50%;
                      left: -3px;
                      top: 13px;
                    }
        }

      }
      &.mobile-social-links {
        padding-top: 2em!important;
        a {
          &:before {
            content: "";
            width: 0px!important;
            height: 0px!important;
          }
          display: inline-block!important;
          .fa {
            font-size: 1.7em;
          }
        }
      }
  }

  #mobile-menu ul li a {
    text-decoration: none;
    color: black;
    padding: 6.5px 11px 19.5px 11px;
    display: block;
  }

  #mobile-menu {
    display: none;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
  }

  #nav-icon {
    display:block;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    top: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    div {
      width: 30px;
      img {
        width: 100%;
      }
    }
    .is-closed {
      display: block;
    }
    .is-open {
      display: none;
    }
    &.open {
      .is-closed {
        display: none;
      }
      .is-open {
        display: block;
      }
    }
  }
}


.h-padding-left-aux {
  padding-left:5px;
}

.h-mobile-visible {
  display: none;
}

.h-mobile-hidden {
  display: block;
}

.h-tablet-visible {
    display: none;
}

.h-tablet-hidden {
    display: block;
}

@media (min-width: 768px) and (max-width: 992px) {

   .col-md-35 {
        width: 100%;
    }

  .h-tablet-visible {
      display: block;
  }

  .h-tablet-hidden {
      display: none;
  }




}

@media screen and (min-width: 1480px) {
  .project-wrapper {
    .project-inner {
      .featured-image {
        min-height: 710px;
      }
    }
  }
  .nav {
    ul {
      li {
        a {
          font-size: 1.1em;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {

  .breadcrumbs {
    margin-top: 10px;
  }
  // .work-grid-2 {
  //   .h-padding-v-5px {
  //       padding-top: 2px;
  //       padding-bottom: 2px;
  //   }
  //   [class^="col-"], [class*=" col-"] {
  //       padding-right: 2px;
  //       padding-left: 2px;
  //   }
  // }


  .h-padding-left-aux {
    padding-left:0px;
  }

  .info-grid {
    margin: 0;
    padding: 0;
  }
  .mini-slider {
    div {
        height: 409px!important;
      }
    }
  .featured-project {
    min-height: 500px;
    .aux {
          padding-top: 50px;
      }
    }
  .project-wrapper{
      .project-inner {
        .featured-image {
          min-height: 190px;
        }
        .project-copy {
          h1 {
            margin-top: 50px;
          }
          p {
            font-size: 14px;
            margin-bottom: 15px;
            line-height: 22px;
          }
        }
      }
    }
  .wwd-aux-1 {
    display: none;
  }
  .wwd-aux-2 {
    display: block;
  }

    .bk-block p {
      font-size: 14px;
    }

    .col-md-35 {
        width: 100%;
    }

    #contact {
      .col-md-15 {
        text-align: center;
      }
    }
    .container {
      padding-right: 5px;
      padding-left: 5px;
      [class^="col-"], [class*=" col-"] {
          padding-right: 5px;
          padding-left: 5px;
      }
    }
    .wwd-right {
      padding-left: 5px;
      [class^="col-"],
      [class*=" col-"] {
          padding-right: 0px;
          padding-left: 0px;
      }

    }
}

@media screen and (max-width: 490px) {
    .h-mobile-visible {
        display: block!important;
    }

    .h-mobile-hidden {
        display: none!important;
    }
    .portrait {
      @include aspect-ratio(3,3.55);
    }
    .bk-block-aux {
      h4 {
        font-size: 15px;
      }
    }
    .bk-block p {
      font-size: 10px;
    }
    #contact {
      h5 {
        font-size: 0.9em;
      }
    }
}

//iPad Queries

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {

  .wwd-aux-1 {
      display: block;
  }
  .wwd-aux-2 {
      display: none;
  }

}

@media screen and (min-width: 1600px) {
  p {
    font-size: 14px;
  }
  .container {
    width: 1500px;
  }
  .wwd-left {
    h5 {
      font-size: 1.2em;
    }
    .wwd-left-default {
      padding-top: 300px;
      height: 847px;
    }
  }
  .bk-block p {
      font-size: 15px;
  }
  h4 {
    font-size: 20px;
  }
  #creative-partners .bk-block p {
      font-size: 15px;
  }
  #how-we-do-it {
    .wwd-left {
      .wwd-left-default {
        min-height: 649px;
        padding-top: 14em;
      }
    }
  }
}

.h-relative {
  position: relative!important;
}

.slide-info {
  min-height: 160px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  padding: 20px 20px;
}

.team-info {
  min-height: 180px;
  background: rgba(0, 0, 0, 0.05);
  text-align: center;
  padding: 10px 20px;
}


.preloader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 99999;
  .loader {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    h3 {
      color: black;
      font-size: 1.2em;
      text-align:center;
    }
    img {
      width: 100%;
    }
  }
}


.topbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  .topbar-loader{
    background: rgba(0, 0, 0, 0.05);
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition:width 0.25s;
    -webkit-transition:width .25s;
    -moz-transition: width 0.25s;
    display: block;
  }
}
