<div class="col-md-15 col-sm-12">
    <h5><strong><a href="mailto:hello@thebread.co.za">hello@thebread.co.za</a></strong></h5>
    <h5><strong><a href="tel:+2782123456">082 123 4567</a></strong></h5>
    <p>
        <a href="https://goo.gl/maps/Snb5CNvtAPG2" target="_blank">
                        5th Floor<br/>
                        73 Juta Street<br/>
                        Braamfontein<br/>
                        Johannesburg<br/>
                        South Africa<br/>
                    </a>
    </p>
    <div class="social">
        <div class="social-item">
            <a href="#">
                <icon class="fa fa-facebook"></icon>
                <p>Facebook</p>
            </a>
        </div>
        <div class="social-item">
            <a href="#">
                <icon class="fa fa-twitter"></icon>
                <p>Twitter</p>
            </a>
        </div>
        <div class="social-item">
            <a href="#">
                <icon class="fa fa-instagram"></icon>
                <p>Instagram</p>
            </a>
        </div>
    </div>
    <p>For accounts, contact <a href="mailto:accounts@thebread.co.za">accounts@thebread.co.za</a></p>
</div>
<div class="col-md-15 col-sm-12">
    <h5><strong><a href="mailto:hello@thebread.co.za">hello@bakery.co.za</a></strong></h5>
    <h5><strong><a href="tel:+2782123456">082 123 4567</a></strong></h5>
    <p>
        <a href="https://goo.gl/maps/Snb5CNvtAPG2" target="_blank">
                5th Floor<br/>
                73 Juta Street<br/>
                Braamfontein<br/>
                Johannesburg<br/>
                South Africa<br/>
                </a>
    </p>
    <div class="social">
        <div class="social-item">
            <a href="#">
                <icon class="fa fa-facebook"></icon>
                <p>Facebook</p>
            </a>
        </div>
        <div class="social-item">
            <a href="#">
                <icon class="fa fa-twitter"></icon>
                <p>Twitter</p>
            </a>
        </div>
        <div class="social-item">
            <a href="#">
                <icon class="fa fa-instagram"></icon>
                <p>Instagram</p>
            </a>
        </div>
    </div>
</div>
<div class="col-md-35 col-sm-12">
    <div id="map" style="margin-bottom:100px;"></div>
</div>
