<div class="footer" color-change>
	<div class="col-xs-3 nav">
		<ul class="text-left">
			<li class="h-lowercase"><a href>hello@thebread.co.za</a></li>
		</ul>
	</div>
	<div class="col-xs-6 nav">
		<ul id="footer">
			<li class="js-careers" ><a ui-sref-active="active" ng-click="goTop();" ui-sref="app.careers">Careers</a></li>
			<li class="js-network" ><a ui-sref-active="active" ng-click="goTop();" ui-sref="app.network">Our Network</a></li>
			<li class="js-team" ><a ui-sref-active="active" ng-click="goTop();" ui-sref="app.team">Our Team</a></li>
		</ul>
	</div>
	<div class="col-xs-3 nav">
		<ul class="text-right">
			<li class="h-lowercase"><a href>hello@bakery.co.za</a></li>
		</ul>
	</div>
</div>
