<div class="primarycontent h-bg-2 js-scrollable-area" style="padding-bottom: 70px;min-height: 100%;">
    <div class="content-wrapper">
        <div class="container">
            <div class="col-md-12 section-header h-margin-v-sm">
                <h3>What We're Looking For</h3>
                </div>
            <div class="col-md-6 col-sm-6">
                <div class="h-bg-darker h-padding-v-md h-padding-h-md text-center">
                  <div ng-repeat="job in jobs">
                    Byron
                  </div>
                    <!-- <h4><div ng-bind-html="jobDescription"></div></h4>
                    <p>finer details and qualifications</p> -->
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="h-bg-darker h-padding-v-md h-padding-h-md text-center">
                    <h3>Junior Graphic Designer</h3>
                    <h5>We specialise in building the perfect team around each project that comes our way. Our core team heads up each department and works with a multitude of freelance creative partners to find solutions to each challenge.</h5>
                    <p>finer details and qualifications</p>
                </div>
            </div>
        </div>
    </div>
</div>
