    <div class="col-md-2">
    	<div class="h-bg-darker">
    		<img src="../images/pic5.png" class="img-responsive square">
            <img src="../images/pic5.png" class="img-responsive square">
    		<img src="../images/pic6.png" class="img-responsive square">
    	</div>
    </div>

    <div class="col-md-5">
    	<div class="h-bg-darker">
    		<img src="../images/pic7.png" class="img-responsive square">
    		<div class="square">
    				<div class="bk-block">
    				</div>
    		</div>
    	</div>
    </div>

    <div class="col-md-5">
        <div class="col-sm-6">
    		<img src="../images/pic6.png" class="img-responsive square">
            <img src="../images/pic8.png" class="img-responsive square">
            </div>
        <div class="col-sm-6">
            <img src="../images/pic6.png" class="img-responsive square">
            <img src="../images/pic8.png" class="img-responsive square">
        </div>
        <img src="../images/pic7.png" class="img-responsive square">
    </div>
