<div class="content-area" style="background:{{primaryColor}}">
		<div ui-view="detail" class="project-details-container" id="project"></div>
		<div class="header">
			<h1><span>Our Work</span></h1>
		</div>

		<!-- <div class="container">
			<div ng-repeat="project in projects | orderBy:'order' " class="row h-margin-v-sm col-md-4" >
					<img data-ng-src="{{ project.thumb }}" class="img-responsive" ng-click="projectTransition()" ui-sref=".detail({ id: project.id })"/>
					<h3 ui-sref=".detail({ id: project.id })">{{project.name}}</h3>
			</div>
		</div>
 -->
</div>

	
