<div class="primarycontent h-bg-3 js-scrollable-area team" style="padding-bottom: 70px; min-height: 100%;" ngSize>
    <div class="content-wrapper">
        <div class="container info-grid">
            <div class="col-md-12 section-header" style="margin-bottom:10px;">
                <h3>This Is Us</h3>
            </div>
            <div class="team-grid-1 team-grid">
                <div class="col-md-3 col-sm-12">
                    <div class="info-grid-item " style="margin-bottom:10px">
                        <img src="../images/team/anthea-poulos.jpg" class="img-responsive">
                        <div class="square h-no-bg">
                            <div class="bk-block">
                                <h4>ANTHEA POULOS</h4>
                                <p>Most people know her as Anthea Knows Best, and there’s a good reason for that. With the best part of a decade of on-the-ground experience as Senior Researcher and Strategist at Instant Grass, she’s the go-to-girl when it comes to logic and local insight.</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-grid-item " style="margin-bottom:10px">
                        <img src="../images/team/hannah-shone.jpg" class="img-responsive">
                        <div class="square h-no-bg">
                            <div class="bk-block">
                                <h4>HANNAH SHONE</h4>
                                <p>A recent graduate of Vega Cape Town, Hannah spent several weeks at BBDO Hong Kong before moving back to hometown JHB to join The Bread team permanently. She has a varied but solid design-style and is experienced in dealing with youth culture and lifestyle brands.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="info-grid-item " style="margin-bottom:10px">
                        <img src="../images/team/nicholas-christowitz.jpg" class="img-responsive">
                        <div class="square h-no-bg">
                            <div class="bk-block">
                                <h4>NICHOLAS CHRISTOWITZ</h4>
                                <p>Though known for his work as a graphic designer and brand specialist, Nick is more than just the pentool behind the visual identities for some brands you’re definitely aware of. He’s also a co-founder of Father Coffee, a lover of Johannesburg, and a fan of design in every form.</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-grid-item " style="margin-bottom:10px">
                        <img src="../images/team/katlego-maponyane.jpg" class="img-responsive">
                        <div class="square h-no-bg">
                            <div class="bk-block">
                                <h4>KATLEGO MAPONYANE</h4>
                                <p>Hailing from an event background, as both a DJ and an event producer, Katlego has developed an understanding of what it takes to make things happen. As a Jozi kid he has a keen knowledge of the various markets at play within the city and country as a whole.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="info-grid-item " style="margin-bottom:10px">
                        <img src="../images/team/andrew-berry.jpg" class="img-responsive">
                        <div class="square h-no-bg">
                            <div class="bk-block">
                                <h4>ANDREW BERRY</h4>
                                <p>The brains, beard, and bouffant behind premier youth culture website, we-are-awesome.com. Andrew is also an accomplished content creator, digital strategist, and marketer. In fact, though hard to believe for an export of the Mother City, the only thing Andrew isn’t doing, is nothing.</p>
                            </div>
                        </div>
                    </div>
                    <div class="info-grid-item " style="margin-bottom:10px">
                        <img src="../images/team/sekh-fei-de-lacy.jpg" class="img-responsive">
                        <div class="square h-no-bg">
                            <div class="bk-block">
                                <h4>SEKH-FEI DE LACY</h4>
                                <p>Growing up around photographers and advertisers, Sekh-Fei developed a natural capacity for content-creation. From video to photography he understands how to communicate in-line with a brand’s strategy and in a way that speaks to people. Sekh-Fei took up a permanent position at The Bread after spending a year in New York.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="info-grid-item " style="margin-bottom:10px">
                        <img src="../images/team/dylan-meadon.jpg" class="img-responsive">
                        <div class="square h-no-bg">
                            <div class="bk-block">
                                <h4>DYLAN MEADON</h4>
                                <p>Dylan hails from years of experience as a UX designer and front-end developer. He knows why people use digital products the way they do, and how they interact with technology that is constantly at their fingertips. It is due to our mutual appreciation for the flux of the tech industry that Bakery was formed. </p>
                            </div>
                        </div>
                    </div>
                    <div class="info-grid-item " style="margin-bottom:10px">
                        <img src="../images/team/byron-polley.jpg" class="img-responsive">
                        <div class="square h-no-bg">
                            <div class="bk-block">
                                <h4>BYRON POLLEY</h4>
                                <p>Fresh out of a Computer Science degree, this passionate tech and code fanatic is the newest member of The Bread and Bakery team. Capable of anything from fixing the office printer, to developing feature-rich websites from scratch. In his spare time, Byron finds new ways of combining music and technology.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-grid-2 team-grid">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-6 col-sm-6">
                        <img src="../images/team/anthea-poulos.jpg" class="img-responsive">
                        <div class="team-info">
                            <h4>ANTHEA POULOS</h4>
                            <p>Most people know her as Anthea Knows Best, and there’s a good reason for that. With the best part of a decade of on-the-ground experience as Senior Researcher and Strategist at Instant Grass, she’s the go-to-girl when it comes to logic and local insight.</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <img src="../images/team/nicholas-christowitz.jpg" class="img-responsive">
                        <div class="team-info">
                            <h4>NICHOLAS CHRISTOWITZ</h4>
                            <p>Though known for his work as a graphic designer and brand specialist, Nick is more than just the pentool behind the visual identities for some brands you’re definitely aware of. He’s also a co-founder of Father Coffee, a lover of Johannesburg, and a fan of design in every form.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-6 col-sm-6">
                        <img src="../images/team/andrew-berry.jpg" class="img-responsive">
                        <div class="team-info">
                            <h4>ANDREW BERRY</h4>
                            <p>The brains, beard, and bouffant behind premier youth culture website, we-are-awesome.com. Andrew is also an accomplished content creator, digital strategist, and marketer. In fact, though hard to believe for an export of the Mother City, the only thing Andrew isn’t doing, is nothing.</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <img src="../images/team/dylan-meadon.jpg" class="img-responsive">
                        <div class="team-info">
                            <h4>DYLAN MEADON</h4>
                            <p>Dylan hails from years of experience as a UX designer and front-end developer. He knows why people use digital products the way they do, and how they interact with technology that is constantly at their fingertips. It is due to our mutual appreciation for the flux of the tech industry that Bakery was formed. </p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-6 col-sm-6">
                        <img src="../images/team/katlego-maponyane.jpg" class="img-responsive">
                        <div class="team-info">
                            <h4>KATLEGO MAPONYANE</h4>
                            <p>Hailing from an event background, as both a DJ and an event producer, Katlego has developed an understanding of what it takes to make things happen. As a Jozi kid he has a keen knowledge of the various markets at play within the city and country as a whole.</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <img src="../images/team/hannah-shone.jpg" class="img-responsive">
                        <div class="team-info">
                            <h4>HANNAH SHONE</h4>
                            <p>A recent graduate of Vega Cape Town, Hannah spent several weeks at BBDO Hong Kong before moving back to hometown JHB to join The Bread team permanently. She has a varied but solid design-style and is experienced in dealing with youth culture and lifestyle brands.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="col-xs-6 col-sm-6">
                        <img src="../images/team/sekh-fei-de-lacy.jpg" class="img-responsive">
                        <div class="team-info">
                            <h4>SEKH-FEI DE LACY</h4>
                            <p>Growing up around photographers and advertisers, Sekh-Fei developed a natural capacity for content-creation. From video to photography he understands how to communicate in-line with a brand’s strategy and in a way that speaks to people. Sekh-Fei took up a permanent position at The Bread after spending a year in New York.</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6">
                        <img src="../images/team/byron-polley.jpg" class="img-responsive">
                        <div class="team-info">
                            <h4>BYRON POLLEY</h4>
                            <p>Fresh out of a Computer Science degree, this passionate tech and code fanatic is the newest member of The Bread and Bakery team. Capable of anything from fixing the office printer, to developing feature-rich websites from scratch. In his spare time, Byron finds new ways of combining music and technology.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clearfix">
            </div>
            <div class="col-md-12">
                <div class="h-bg-darker h-padding-v-sm text-center  h-margin-v-sm">
                    <h3 style="margin-top: 0;" class="tagline">Looking to join our team?</h3>
                    <p style="max-width: 500px; margin: 0 auto 30px auto;">We're always on the lookout for hard working and passionate indivduals to join our team. Take a look at our job openings and apply today!</p>
                    <button class="btn btn-3" ui-sref="app.careers" ng-click="goTop();">View Job Openings</button>
                </div>
            </div>
        </div>
    </div>
</div>
