<div class="work-grid work-grid-1">
    <div class="row" style="margin-right: 0; margin-left: 0;">
        <div class="col-md-4 col-sm-12">
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 1 })" ng-click="goTop()">
                    <div class="work-item-1 landscape" style="background: url(../images/projects/01/thumb.jpg); background-size: cover; ">
                    </div>
                    <div class="work-item-2 landscape">
                        <div class="content">
                            <div class="zk-block">
                                <h4>Anatomy</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 3 })" ng-click="goTop()">
                    <div class="work-item-1 landscape" style="background: url(../images/projects/03/thumb.jpg); background-size: cover; ">

                    </div>
                    <div class="work-item-2 landscape">
                        <div class="content">
                            <div class="zk-block">
                                <h4>Beauty Fix</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 4 })" ng-click="goTop()">
                    <div class="work-item-1 landscape" style="background: url(../images/projects/04/thumb.jpg); background-size: cover; ">

                    </div>
                    <div class="work-item-2 landscape">
                        <div class="content">
                            <div class="zk-block">
                                <h4>House of Vans<br/>Cape Town</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 5 })" ng-click="goTop()">
                    <div class="work-item-1 landscape" style="background: url(../images/projects/05/thumb.jpg); background-size: cover; ">

                    </div>
                    <div class="work-item-2 landscape">
                        <div class="content">
                            <div class="zk-block">
                                <h4>King Kennedy<br/>Funding Campaign</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 15 })" ng-click="goTop()">
                    <div class="work-item-1 portrait" style="background: url(../images/projects/15/thumb.jpg); background-size: cover; ">

                    </div>
                    <div class="work-item-2 portrait">
                        <div class="content">
                            <div class="zk-block">
                                <h4>House Of Vans Johannesburg</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="row" style="margin-right: 0; margin-left: 0;">
        <div class="col-md-4 col-sm-12">
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 6 })" ng-click="goTop()">
                    <div class="work-item-1 landscape-fix" style="background: url(../images/projects/06/thumb.jpg); background-size: cover; ">

                    </div>
                    <div class="work-item-2 landscape-fix">
                        <div class="content">
                            <div class="zk-block">
                                <h4>Levi's®<br/>Pioneer Nation<br/>2014</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 13 })" ng-click="goTop()">
                    <div class="work-item-1 portrait" style="background: url(../images/projects/13/thumb.jpg); background-size: cover; ">

                    </div>
                    <div class="work-item-2 portrait">
                        <div class="content">
                            <div class="zk-block">
                                <h4>The Scene Artworks Project</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-8 col-sm-12">
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 7 })" ng-click="goTop()">
                    <div class="work-item-1 landscape" style="background: url(../images/projects/07/thumb.jpg); background-size: cover; ">

                    </div>
                    <div class="work-item-2 landscape">
                        <div class="content">
                            <div class="zk-block">
                                <h4>Levi's®<br/>Pioneer Nation<br/>2015</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-6 col-sm-12" style="padding-left:0">
                <div class="h-padding-v-5px work-item">
                    <a ui-sref="app.work.detail({ id: 8 })" ng-click="goTop()">
                        <div class="work-item-1 landscape" style="background: url(../images/projects/08/thumb.jpg); background-size: cover; ">
                        </div>
                        <div class="work-item-2 landscape">
                            <div class="content">
                                <div class="zk-block">
                                    <h4>Red Bull Studios<br/>Presents<br/>Little Dragon</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
             <div class="col-md-6 col-sm-12" style="padding-right: 0;">
                <div class="h-padding-v-5px work-item">
                    <a ui-sref="app.work.detail({ id: 9 })" ng-click="goTop()">
                        <div class="work-item-1 landscape" style="background: url(../images/projects/09/thumb.jpg); background-size: cover; ">
                        </div>
                        <div class="work-item-2 landscape">
                            <div class="content">
                                <div class="zk-block">
                                    <h4>Propeller Films</h4>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="margin-right: 0; margin-left: 0;">
        <div class="col-md-4 col-sm-12">
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 2 })" ng-click="goTop()">
                    <div class="work-item-1 portrait" style="background: url(../images/projects/02/thumb.jpg); background-size: cover; ">

                    </div>
                    <div class="work-item-2 portrait">
                        <div class="content">
                            <div class="zk-block">
                                <h4>Autonomy<br/>Graphic Identity <br/>&amp; Web Design</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 10 })" ng-click="goTop()">
                    <div class="work-item-1 landscape" style="background: url(../images/projects/10/thumb.jpg); background-size: cover; ">

                    </div>
                    <div class="work-item-2 landscape">
                        <div class="content">
                            <div class="zk-block">
                                <h4>ProTEST HIV /<br/>U.N. AIDS T-Shirt<br/>Launch JHB</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 11 })" ng-click="goTop()">
                    <div class="work-item-1 landscape" style="background: url(../images/projects/11/thumb.jpg); background-size: cover; ">

                    </div>
                    <div class="work-item-2 landscape">
                        <div class="content">
                            <div class="zk-block">
                                <h4>Ray-Ban<br/>#Campaign4Change</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 12 })" ng-click="goTop()">
                    <div class="work-item-1 landscape" style="background: url(../images/projects/12/thumb.jpg); background-size: cover; ">

                    </div>
                    <div class="work-item-2 landscape">
                        <div class="content">
                            <div class="zk-block">
                                <h4>Ray-Ban:<br/>The Order Of Never Hide</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="h-padding-v-5px work-item">
                <a ui-sref="app.work.detail({ id: 14 })" ng-click="goTop()">
                    <div class="work-item-1 landscape" style="background: url(../images/projects/14/thumb.jpg); background-size: cover; ">

                    </div>
                    <div class="work-item-2 landscape">
                        <div class="content">
                            <div class="zk-block">
                                <h4>The Scene<br/>East Rand Mall</h4>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="work-grid-2">
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 1 })" ng-click="goTop()">
                <div class="work-item-1 landscape" style="background: url(../images/projects/01/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 04 })" ng-click="goTop()">
                <div class="work-item-1 landscape" style="background: url(../images/projects/04/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 03 })" ng-click="goTop()">
                <div class="work-item-1 landscape" style="background: url(../images/projects/03/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 05 })" ng-click="goTop()">
                <div class="work-item-1 landscape" style="background: url(../images/projects/05/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 15 })" ng-click="goTop()">
                <div class="work-item-1 portrait" style="background: url(../images/projects/15/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 06 })" ng-click="goTop()">
                <div class="work-item-1 landscape" style="background: url(../images/projects/06/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 07 })" ng-click="goTop()">
                <div class="work-item-1 landscape" style="background: url(../images/projects/07/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 08 })" ng-click="goTop()">
                <div class="work-item-1 landscape" style="background: url(../images/projects/08/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 09 })" ng-click="goTop()">
                <div class="work-item-1 landscape" style="background: url(../images/projects/09/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 13 })" ng-click="goTop()">
                <div class="work-item-1 portrait" style="background: url(../images/projects/13/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 10 })" ng-click="goTop()">
                <div class="work-item-1 landscape" style="background: url(../images/projects/10/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 12 })" ng-click="goTop()">
                <div class="work-item-1 landscape" style="background: url(../images/projects/12/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 02 })" ng-click="goTop()">
                <div class="work-item-1 portrait" style="background: url(../images/projects/02/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-xs-6">
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 11 })" ng-click="goTop()">
                <div class="work-item-1 landscape" style="background: url(../images/projects/11/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
        <div class="h-padding-v-5px work-item">
            <a ui-sref="app.work.detail({ id: 14 })" ng-click="goTop()">
                <div class="work-item-1 landscape" style="background: url(../images/projects/14/thumb.jpg); background-size: cover; ">
                    <div class="content">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
