<div class="h-padding-left-aux">
  <div class="slider-arrow slider-arrow-left">
      <button title="Previous (Left arrow key)" type="button" class="mfp-arrow mfp-arrow-left mfp-prevent-close"></button>
  </div>
  <div class="slider-arrow slider-arrow-right">
      <button title="Next (Right arrow key)" type="button" class="mfp-arrow mfp-arrow-right mfp-prevent-close"></button>
  </div>
<slick prev-arrow=".slider-arrow-left" next-arrow=".slider-arrow-right" dots=true infinite=true arrows=true speed=300 slides-to-show=1 touch-move=true slides-to-scroll=1 class="mini-slider">
		<div style="background-position: center center; background-image: url(../images/what-we-do/spaces/spaces1.jpg);"></div>
		<div style="background-position: center center; background-image: url(../images/what-we-do/spaces/spaces2.jpg);"></div>
		<div style="background-position: center center; background-image: url(../images/what-we-do/spaces/spaces3.jpg);"></div>
		<div style="background-position: center center; background-image: url(../images/what-we-do/spaces/spaces4.jpg);"></div>
		<div style="background-position: center center; background-image: url(../images/what-we-do/spaces/spaces5.jpg);"></div>
		<div style="background-position: center center; background-image: url(../images/what-we-do/spaces/spaces6.jpg);"></div>
		<div style="background-position: center center; background-image: url(../images/what-we-do/spaces/spaces7.jpg);"></div>
		<div style="background-position: center center; background-image: url(../images/what-we-do/spaces/spaces8.jpg);"></div>
		<div style="background-position: center center; background-image: url(../images/what-we-do/spaces/spaces9.jpg);"></div>
		<div style="background-position: center center; background-image: url(../images/what-we-do/spaces/spaces10.jpg);"></div>
		<div style="background-position: center center; background-image: url(../images/what-we-do/spaces/spaces11.jpg);"></div>
	</slick>

</div>
