
    <div class="h-bg-darker h-padding-v-lg h-padding-h-md text-center wwd-left-default" id="what-we-do" style="position: relative;">
        <h3>What We Do</h3>
        <h5>As a brand consultancy we help brands communicate, connect, and differentiate. We create new brands and products, as well as spaces, events, campaigns, and with the help of <a href="http://bakery.co.za"><strong>Bakery</strong></a>, UX/UI design, website and app development.</h5>
        <!-- <svg id="confettiSVG" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"/> -->
    </div>
