<div class="h-bg-darker text-center wwd-left-design">
    <div class="wwd-back" ui-sref="app.whatWeDo" ng-click="goWhatWeDo()">
      <icon class="fa fa-long-arrow-left"></icon> Back To What We Do
    </div>
      <div class="h-vertical h-center h-padding-h-md">
      <h3>Strategy</h3>
      <h5>While talking is important, knowing what to say is fundamental. That’s why we’re always listening. We know what's going on and we know how to find out if we don’t. So, when you need to shape a new brand or envision strategies for the years to come, we’ve got the intel to do it.</h5>
      <h4>Services</h4>
      <ul>
        <li>Research &amp; Insights </li>
        <li>Brand Consulting</li>
        <li>Brand Strategy</li>
        <li>Digital Product Strategy</li>
        <li>Product Development</li>
        <li>Positioning</li>
        <li>Speaker Sessions</li>
        <li>Trend Reports</li>
      </ul>
      <button class="btn btn-1" ng-click="goWork();">View Our Work</button>
  </div>
</div>
