  <div class="h-bg-darker text-center wwd-left-design">
    	<div class="wwd-back" ui-sref="app.whatWeDo" ng-click="goWhatWeDo()">
    		<icon class="fa fa-long-arrow-left"></icon> Back To What We Do
    	</div>
        <div class="h-vertical h-center h-padding-h-md">
        <h3>Design &amp; Content</h3>
        <h5>Any good relationship is built on communication. Helping your brand talk to its consumers is what we do best. But what we do even better is work out how to add personality and appeal to the way it talks—from a logo for a new product, to a new website for an established multinational.</h5>
        <h4>Services</h4>
        <ul>
          <li>Graphic Design</li>
          <li>Brand Design</li>
          <li>Digital Campaigns</li>
          <li>UX/UI Design</li>
          <li>Web &amp; App Development</li>
          <li>Content Creation</li>
          <li>Copywriting</li>
          <li>Positioning &amp; Strategy</li>
          <li>Product Development</li>
          <li>Research</li>
        </ul>
        <button class="btn btn-1" ng-click="goWork();">View Our Work</button>
    </div>
  </div>
