  <div class="h-bg-darker text-center wwd-left-design">
    	<div class="wwd-back" ui-sref="app.whatWeDo" ng-click="goWhatWeDo()">
    		<icon class="fa fa-long-arrow-left"></icon> Back To What We Do
    	</div>
      <div class="h-vertical h-center h-padding-h-md">
        <h3>Spaces</h3>
        <h5>Touchpoints you can actually touch. In the age of pop-up shops and concept stores we look to build spaces that say something you can feel. From concept to final fit-out, we offer an end-to-end creative service that turns brand values into brick and mortar.</h5>
        <h4>Services</h4>
        <ul>
          <li>Spatial Design</li>
          <li>Interior Design</li>
          <li>Floorplans</li>
          <li>Concepts</li>
          <li>Pop-up Shops</li>
          <li>Shopfitting &amp; build</li>
          <li>Renders &amp; Sketches</li>
          <li>Technical Drawings </li>
        </ul>
        <button class="btn btn-1" ng-click="goWork();">View Our Work</button>
  </div>
</div>
