<div class="h-padding-left-aux">
  <div class="slider-arrow slider-arrow-left">
      <button title="Previous (Left arrow key)" type="button" class="mfp-arrow mfp-arrow-left mfp-prevent-close"></button>
  </div>
  <div class="slider-arrow slider-arrow-right">
      <button title="Next (Right arrow key)" type="button" class="mfp-arrow mfp-arrow-right mfp-prevent-close"></button>
  </div>
<slick prev-arrow=".slider-arrow-left" next-arrow=".slider-arrow-right" dots=true infinite=true arrows=true speed=300 slides-to-show=1 touch-move=true slides-to-scroll=1 class="mini-slider">
		<div style="background-position: center center; background-image: url(../images/what-we-do/experiences/experiences1.jpg);"></div>
		<div style="background-position: center center; background-image: url(../images/what-we-do/experiences/experiences2.jpg);"></div>
		<div style="background-position: center center; background-image: url(../images/what-we-do/experiences/experiences3.jpg);"></div>
		<div style="background-position: center center; background-image: url(../images/what-we-do/experiences/experiences4.jpg);"></div>
		<div style="background-position: center center; background-image: url(../images/what-we-do/experiences/experiences5.jpg);"></div>
		<div style="background-position: center center; background-image: url(../images/what-we-do/experiences/experiences6.jpg);"></div>
		<div style="background-position: center center; background-image: url(../images/what-we-do/experiences/experiences7.jpg);"></div>
		<div style="background-position: center center; background-image: url(../images/what-we-do/experiences/experiences8.jpg);"></div>
		<div style="background-position: center center; background-image: url(../images/what-we-do/experiences/experiences9.jpg);"></div>
		<div style="background-position: center center; background-image: url(../images/what-we-do/experiences/experiences10.jpg);"></div>
		<div style="background-position: center center; background-image: url(../images/what-we-do/experiences/experiences11.jpg);"></div>
		<div style="background-position: center center; background-image: url(../images/what-we-do/experiences/experiences12.jpg);"></div>
	</slick>

</div>
