  <div class="h-bg-darker text-center wwd-left-design">
    	<div class="wwd-back" ui-sref="app.whatWeDo" ng-click="goWhatWeDo()">
    		<icon class="fa fa-long-arrow-left"></icon> Back To What We Do
    	</div>
      <div class="h-vertical h-center h-padding-h-md">
        <h3>Experiences</h3>
        <h5>There’s no substitute for experience. When you need to bring your brand to life, little rivals a killer event. Whether it’s an intimate DJ evening at your favourite bar, your next store launch, or packed-out performances from Little Dragon, we know how to throw your brand the event that will get people talking.</h5>
        <h4>Services</h4>
        <ul>
          <li>Event Concepts</li>
          <li>Event Production</li>
          <li>Pop-Ups</li>
          <li>Artist Booking &amp; Management</li>
        </ul>
        <button class="btn btn-1" ng-click="goWork();">View Our Work</button>
  </div>
</div>
