  <div class="h-bg-darker text-center wwd-left-design wwd-left-details">
      <div class="wwd-back" ui-sref="app.whatWeDo" ng-click="goWhatWeDo()">
        <icon class="fa fa-long-arrow-left"></icon> Back To What We Do
      </div>
    <div class="h-vertical h-center h-padding-h-md">
        <h3>Connections</h3>
        <h5>We pride ourselves in knowing a lot about people. But we also care about knowing a lot of people. We’ve built working relationships with loads of the best talent, so when your project needs anything from a quick opinion to a 12-month seeding campaign, we’ve know the right people for the job.</h5>
        <h4>Services</h4>
        <ul>
          <li>Influencers</li>
          <li>Content Creation</li>
          <li>Focus Groups</li>
          <li>Staff</li>
          <li>Artists &amp; Musicians</li>
          <li>Social Media</li>
          <li>Research</li>
        </ul>
        <button class="btn btn-1" ng-click="goWork();">View Our Work</button>
        </div>
    </div>
